@import url("https://cdn.syncfusion.com/ej2/material.css");

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(228, 252, 121, 0.089),
    rgb(0, 0, 0)
  );
}

.textsize {
  font-size: 25px;
  line-height: 36px;
}
header {
  font-family: "Univers", Helvetica, sans-serif;
}
p {
  font-family: "Univers", Helvetica, sans-serif;
}
.linespacing {
  line-height: 30px;
}
@font-face {
  font-family: "Univers";
  src: url("../assets/fonts/Univers-Font/UniversBlack.ttf");
  src: url("../assets/fonts/Univers-Font/UniversBlack.ttf") format("truetype");
}
@font-face {
  font-family: "Univers Light";
  src: url("../assets/fonts/Univers-Font/Univers-light-normal.ttf");
  src: url("../assets/fonts/Univers-Font/Univers-light-normal.ttf")
    format("truetype");
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.homeback {
  background-image: url("../assets/homebackground.jpg");
  background-size: cover;
  background-position: relative;
  height: 100%;
  position: relative;
}

.opacity {
  background-color: white;
  opacity: 0.2;
  height: 100vh;
}

.calendarback {
  background-image: url("../assets/calendarbackground.jpg");
  background-size: cover;
  background-position: relative;
  height: 100%;
  position: relative;
}

.careerback {
  background-image: url("../assets/careersbackground.jpg");
  background-size: cover;
  background-position: absolute;
  height: 100%;
  position: relative;
}

.directoryback {
  background-image: url("../assets/directorybackground.jpg");
  background-size: cover;
  background-position: absolute;
  height: 100%;
  position: relative;
}

.fnaback {
  background-image: url("../assets/fnabackground.jpg");
  background-size: cover;
  background-position: relative;
  height: 100%;
}

.nabback {
  background-image: url("../assets/nabbackground.jpg");
  background-size: cover;
  background-position: relative;
  height: 100%;
  position: relative;
}

.idleback {
  background: linear-gradient(to top, #5c5c5cc0, #000000e3),
    url("../assets/idlebackground.jpg");
  background-size: cover;
  background-position: relative;
  height: 100%;
  position: relative;
  z-index: 10;
}

.fullscreen {
  width: max-content;
  height: max-content;
  z-index: 15;
}

.idletap {
  text-align: center;
  display: block;
  position: fixed;
  width: 100vw;
  height: 150px;
  color: rgb(0, 0, 0);
  margin-top: -35px;
  background-color: rgb(255, 238, 2);
  z-index: 12;
}

.idletap h1 {
  padding-bottom: 100px;
}

.homesection {
  position: static;
  display: block;
  float: left;
  margin: 25vh 42px;
  background-color: rgba(255, 255, 255);
  border-radius: 16px;
  outline: 10px, white;
  width: 342px;
  height: 475px;
  padding: 1vw;
  overflow-wrap: initial;
  border: 1px solid rgb(68, 68, 68);
  background-color: rgba(255, 255, 255, 0.555);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.089),
    rgb(195, 209, 230, 0.5)
  );
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.careersection {
  position: static;
  display: block;
  float: left;
  margin: 75px 46px;
  background-color: rgba(255, 255, 255);
  border-radius: 16px;
  outline: 10px, white;
  width: 560px;
  height: 365px;
  padding: 1vw;
  overflow-wrap: initial;
  border: 1px solid rgb(68, 68, 68);
  background-color: rgba(255, 255, 255, 0.555);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.089),
    rgb(195, 209, 230, 0.5)
  );
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.calendarsection {
  position: static;
  display: block;
  float: left;
  margin: 21vh 46px;
  background-color: rgba(255, 255, 255);
  border-radius: 16px;
  outline: 10px, white;
  width: 560px;
  height: 500px;
  padding: 1vw;
  overflow-wrap: initial;
  border: 1px solid rgb(68, 68, 68);
  background-color: rgba(255, 255, 255, 0.555);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.089),
    rgb(195, 209, 230, 0.5)
  );
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.nabsection {
  position: static;
  display: block;
  float: left;
  margin: 170px 42px;
  background-color: rgba(255, 255, 255);
  border-radius: 16px;
  outline: 10px, white;
  width: 1250px;
  height: 475px;
  padding: 1vw;
  overflow-wrap: initial;
  border: 1px solid rgb(68, 68, 68);
  background-color: rgba(255, 255, 255, 0.555);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.089),
    rgb(195, 209, 230, 0.5)
  );
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.careertopblock {
  text-align: center;
  color: white;
  margin-top: 70px;
  padding: 15px 15px;
  background-color: #222223;
  min-width: 1vw;
  height: 120px;
  background-image: linear-gradient(
    to bottom,
    rgba(161, 161, 161, 0.014),
    rgba(0, 0, 0, 0.856)
  );
}

.fc-scroller {
  overflow-y: hidden !important;
}
/* div.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
  height:100vh;
} */

.map {
  display: block;
  outline: auto;
  position: relative;
  margin-top: -10px;
  margin-left: 31px;
  width: 20vw;
  height: auto;
  transition:ease-in-out 0.5s;
}

.imageContainer > img:focus {
  width: 78vw;
  height: auto;
  margin-top: -243px;
margin-left: -57px;
  padding-left: 151px;
  padding-right: 150px;
  padding-top:35px;
  padding-bottom:35px;
  background-color: rgba(0, 0, 0, 0.726);
  position: relative;
  transition:ease-in-out 0.5s;
  outline: none;
}