.App {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    min-width: 100vw;
    background: rgba(0, 0, 0, 0.75);
    color: antiquewhite;
    position: absolute;
}